.sidebar{
    padding: 60px 20px;
    width: 40%;
    max-width: 300px;
    margin-right: 20px;

    &__form {
        margin-bottom: 50px;
        display: flex;
        border: 1px solid #dadada;
    }

    &__label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    &__input {
        text-transform: capitalize;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.98px;
        padding: 10px 26px;
        color: #bdbdbd;
        background-color: $white;
        outline: none;
        height: 42px;
        border: none;
        box-shadow: none;
        width: 100%;

        &:focus {
            color: $black;

            ~ button {
                color: $black;
            }
        }
    }

    &__submit {
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #bdbdbd;
        padding: 10px;
        transition: 0.3s ease-in;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
        position: relative;
        padding-bottom: 22px;
        color: #222;
        font-family: 'Poppins', sans-serif;

        &:after {
            content: "";
            background-color: #1daaa3;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 36px;
            height: 3px;
        }
    }

    &__list {
        padding-left: 0;
    }

    &__list-item {
        list-style: none;
        width: 100%;
        padding: 7px 0;
        border-bottom: 0.5px solid rgba($grey-light, 0.5);
        display: flex;
    }

    &__list-link {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 17px;
        color: #444;
        font-family: 'Lato', sans-serif;
        transition: all 0.6s ease 0s;
        position: relative;
        width: 100%;

        &:hover {
            color: #1daaa3;
            padding-left: 15px;
        }
    }

    &__list-link--active {
        position: relative;
        display: flex;
        width: 100%;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 17px;
        font-family: 'Lato', sans-serif;
        transition: all 0.6s ease 0s;
        color: #1daaa3;
        padding-left: 15px;

        &:hover {
            color: #1daaa3;
            padding-left: 15px;
        }
    }

    &__list-count {
        display: block;
        right: 0;
        bottom: 0;
        position: absolute;
        align-self: flex-end;
    }

    &__list-btn {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 17px;
        color: #1daaa3;
        font-family: 'Lato', sans-serif;
        font-style: italic;
        transition: all 0.6s ease 0s;
        position: relative;
        display: flex;
        width: 100%;

        button {
            color: #1daaa3;
            padding: 10px 0;
        }
    }

    @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 100%;
    }
}