@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.mySlide {
  backdrop-filter: invert(80%);
  height: 800px;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  object-fit: cover;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 100px;
  justify-content: space-evenly;
  color: #b1b1b1;

  .left {
    flex: 1;
    display: flex;
    // border: 6px solid #1daaa3;
    filter: drop-shadow(1px 3px 10px #1daaa3);
    // border-radius: 5px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .right {
    display: flex;
    flex: 1;
    padding: 0px 40px;
    // background-color: rgba(29, 170, 163, 0.3);
    // border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: black;

    h1 {
      font-weight: 700;
    }
    p {
      font-weight: 600;
    }
    a {
      width: 130px;
      color: black;
      text-decoration: none;
    }
  }
  @media screen and (max-width: 800px) {
    padding: 10px;

    .left {
      display: none;
    }
    .right {
      align-items: center;
      justify-content: center;
      background-color: rgba(29, 170, 163,0.7);
      border-radius: 8px;
      padding: 30px 5px;
    }
  }
}
.swiper-slide {
}
.swiper-pagination {
  margin-bottom: 20px;
  .swiper-pagination-bullet {
    border-radius: 0;
    background-color: #1daaa3;
    height: 16px;
    width: 16px;
    transition: all 0.3s;
  }
  .swiper-pagination-bullet-active {
    width: 32px;
  }
}
