// ---------- buttons
// ------------------------------------------------------------------------------

button,
input[type='button'],
input[type='submit'] {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
}

a,
button {
    appearance: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 12px 43px;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    display: inline-block;
}

.button--primary {
    background-color: $green;
    border: 1px solid $green;
    color: $white;

    &:hover {
        background-color: transparent;
        border: 1px solid $green;
        color: $green;
    }
}
