// ----------  button
// ------------------------------------------------------------------------------

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

a,
button {
	appearance: none;
	outline: none;

	&:focus {
		outline: none;
	}
}

.btn {
	font-size: 16px;
	line-height: 24px;
	font-family: $font-default;
	font-weight: 600;
	color: $black;
	padding: 13px 35px;
	outline: 0;
	border: 1px solid $black;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	user-select: none;
	touch-action: manipulation;
}
