.single-product__details {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.single-product__content-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
    }
}

.single-product__img-holder {
    margin-bottom: 20px;
    max-width: 500px;
    object-fit: cover;
    min-height: 500px;
}

.single-product__img {
    width: 100%;
    object-fit: cover;
}

.single-product__images {
    display: flex;
    flex-direction: row;
}

.single-product__image {
    width: 100px;
    object-fit: cover;
    margin-right: 20px;
    padding: 10px;
}

.single-product__image--active {
    border: 2px solid #1daaa3;
}

.single-product__content-right {
    width: 45%;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 40px;
    }
}

.single-product__title {
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.single-product__reviews {
    display: flex;
    flex-direction: row;

    p {
        margin-right: 20px;
    }
}

.single-product__price {
    color: #1daaa3;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: -1.28px;
    margin-bottom: 20px;
}

.single-product__stock {
    color: #222;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;

    span {
        color: #1daaa3;
    }
}

.single-product__desc {
    color: #444;
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 60px;
    position: relative;
    margin-bottom: 20px;

    &:after {
        content: '';
        position: absolute;
        background-color: rgba($grey-lighter, 0.4);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }
}

.single-product__controls {
    button {
        margin-left: 0 !important;
    }
}

.single-product__quantity-control {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

.single-product__quantity {
    border: 1px solid rgba($grey-lighter, 0.4);
    font-family: inherit;
    outline: none;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-product__descriptions {
    margin-bottom: 60px;
}

.single-product__info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        background-color: rgba($grey-lighter, 0.4);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
}

.single-product__selection {
    margin: 0 16px 0 0 !important;
    letter-spacing: 1px;
}