.products_content {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    .shop__wrapper {
        width: 100%;
        position: relative;
        padding: 60px 0;

        @include media-breakpoint-down(md) {
            padding: 10px 0;
        }
    }

    .products__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        padding: 60px 0;

        @include media-breakpoint-down(md) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.shop__view {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 40px;

    &-title {
        display: block;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        color: #222;
        font-family: 'Poppins', sans-serif;
        margin-right: 10px;
    }

    &-list {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
    }

    &-item {
        margin-right: 10px;
    }

    &-btn {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 28px;
        font-family: 'Lato', sans-serif;
        color: #9c9b9b;
        border: 1px solid #cacaca;
        text-align: center;
        transition: all 0.4s ease 0s;
        background-color: $white;

        &:hover {
            background-color: #9c9b9b;
            color: $white;
        }
    }

    &-btn--active {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 28px;
        font-family: 'Lato', sans-serif;
        color: $white;
        border: 1px solid #cacaca;
        text-align: center;
        transition: all 0.4s ease 0s;
        background-color: #9c9b9b;

        &:hover {
            background-color: #9c9b9b;
            color: $white;
        }
    }
}
