.products_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .shop__wrapper {
        width: 100%;
        position: relative;
        padding: 60px 0;
    }

    .products__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

}