.shop__search-title {
    margin-bottom: 40px;

    span {
        color: #1daaa3;
        font-style: italic;
    }
}

.shop__results-wrap {
    font-style: italic;
    color: $grey;
    font-size: 18px;
}