.pagination {
    width: 100%;
}

.pagination__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.pagination__item {
    margin: 10px;
}

.pagination__btn {
    font-size: 16px;
    height: 43px;
    width: 43px;
    line-height: 28px;
    font-family: 'Lato', sans-serif;
    color: #9c9b9b;
    border: 1px solid #cacaca;
    text-align: center;
    transition: all 0.4s ease 0s;

    &:hover {
        background-color: #1daaa3;
        color: $white;
    }
}
