
.form__container {
    width: 50%;
    margin-right: 40px;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 60px;
    }
}

.form__title {
    font-size: 25px;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-weight: 600;
    color: $black;
    font-family: $font-default;

    @include media-breakpoint-down(md) {
        font-size: 22px;
    }
}

.form__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form__contact {
    font-family: $font-default;
}

.form__input {
    width: 100%;
}

.form__input--separated {
    margin-right: 20px;
}

.form__label {
    color: $grey;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    display: block;
    margin-bottom: 10px;
}

.form__input-text {
    box-shadow: none;
    border: 1px solid $grey-light;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: $black-light;
    background-color: $white;
    font-family: inherit;
}

.form__input-error {
    color: $red;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.65px;
    display: block;
    margin-top: 10px;
}

.form__textarea {
    box-shadow: none;
    border: 1px solid $grey-light;
    height: auto;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $black-light;
    background-color: $white;
    font-family: inherit;
}

.form__confirmation {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 2px solid $green;

    @include media-breakpoint-down(md) {
        padding: 10px;
    }
}

.form__icon-check {
    color: $green;
    margin-right: 10px;
}

.form__msg {
    color: $green;
    font-size: 18px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}