// ----------  variables
// ------------------------------------------------------------------------------

$font-default: 'Poppins', sans-serif;
$font-headings: 'Bree Serif', serif;

// Colors
$white: #fff;
$black: #333;
$black-light: #555;
$orange: #f1592a;
$grey-light: #d9d9d9;
$grey-lighter: #ababab;
$grey-blend: #f2f2f2;
$green: #1daaa3;
$yellow: #f8da5b;
$yellow-dark: #eec60a;
$yellow-light: #ffc93c;
$red: #f95959;
$black-dark: #000;
$grey: #808080;


// ----------  Media queries breakpoints - Grid breakpoint
// ------------------------------------------------------------------------------

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;
